<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #002FA7;">
  <a class="navbar-brand" routerLink="#">Navbar</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link">Home</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a [routerLink]="['/login']" class="nav-link">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a [routerLink]="['/register']" class="nav-link">Register</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a [routerLink]="['/user-edit']" class="nav-link">Profile</a>
      </li>
    </ul>
  </div>
</nav>
