img {
  width: 100%;
  max-height: 600px;
}

#side {
  display: flex;
  padding-top: 30px;
  padding-left: 30px;
  background-color: #6b717e;
  border-style: none;
  border-radius: 0px 15px 50px 5px;
}

.fa-bars {
  position: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #f7cb15;
}

.fa-cart-plus {
  position: inherit;
  left: 50%;
  top: 50%;
  padding-right: 10px;
}

#sidebar {
  background-color: #232e3e;
  color: black;
}

mat-nav-list button {
  width: 310px;
  height: 78px;
  text-align: center;
  color: black;
  border-color: black;
  border-radius: 15px 50px 30px 5px;
}

#all {
  background-color: aliceblue;
}

#other {
  background-color: #247BA0;
}

#cooking {
  background-color: crimson;
}

#pastry {
  background-color: #ff9900;
}

#knife {
  background-color: cadetblue;
}

#filter {
  padding-left: 80px;
}

::ng-deep snack-bar-container.add-class {
  background: black;
}

::ng-deep .add-class .mat-simple-snackbar {
  color: #33a1fd;
}
